---
layout: default
title: About Me
permalink: /about/
subtitle: About Me
---
<div class="py-20 max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex flex-col md:flex-row gap-16 items-center">
        <div class="md:w-1/2">
            <img src="{{ page.image }}" alt="Workspace" class="rounded-3xl shadow-lg w-full object-cover" />
        </div>
        <div class="md:w-1/2 space-y-6">
            <h2 class="text-picto-primary font-semibold text-xl">{{ page.subtitle }}</h2>
            <h1 class="text-4xl md:text-5xl font-bold text-white">{{ page.headline }}</h1>
            
            <div class="prose prose-lg prose-invert text-gray-300 leading-relaxed">
                {{ content }}
            </div>
            
            <div class="pt-6">
                <h3 class="text-2xl font-bold mb-4 text-white">My Skills</h3>
                <div class="flex flex-wrap gap-3">
                    {% for skill in page.skills %}
                    <span class="px-4 py-2 bg-gray-800 rounded-full text-gray-300 font-medium border border-gray-700">{{ skill }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
